/*-----generic selectors-----*/
html {
    background-color: #151b2a;
    color: #ef922d;
}

body {
    font-family: Tahoma, sans-serif;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main > p:last-of-type {
    margin-bottom: 35px;
}

h1 {
    font-size: 60px;
    text-align: center;
    font-family: Habbo;
    font-weight: 400;
    margin-top: 20px;
}

h2 {
    font-size: 50px;
    text-align: center;
    font-family: Habbo;
    font-weight: 400;
}

h3 {
    font-size: 30px;
    text-align: center;
    font-family: Habbo;
    font-weight: 400;
}

hr {
    background-color: #254252;
    border: none;
    height: 2px;
    width: 50%;

}

a {
    font-family: Habbo;
    font-size: 26px;
    color: #f9982f;
    margin: 5px;
}

footer > p {
    text-align: center;
}

/*-----fonts-----*/
@font-face {
    font-family: Roboto;
    src: url(../fonts/Habbo.ttf);
}

/*-----navbar-----*/
.navbar {
    display: flex;
    width: 100%;
    height: 60px;
    align-items: center;
    justify-content: center;
}

.navbar > a{
    font-family: Habbo;
    font-size: 25px;
    color: #f9982f;
    text-decoration: none;
    border-style: solid;
    padding: 10px 25px;
    margin: 10px;
}

.navbar > a:hover {
    color: #eab56f;
}

/*-----class selectors-----*/
.validators {
    display: flex;
    justify-content: center;
    padding-top: 30px;
}

.validators > a > img {
    border: 0;
    width: 88px;
    height: 31px;
}

.info {
    text-align: left;
    max-width: 600px;
}

.footer-links {
    text-align: center;
    padding-top: 20px;
}

.title {
    margin-top: 40px;
}