html {
    background-color: #151b2a;
    color: #ef922d;
}

body {
    font-family: Tahoma, sans-serif;
}

h1 {
    font-size: 60px;
    text-align: center;
    font-family: Habbo;
    font-weight: 400;
}

h2 {
    font-size: 50px;
    text-align: center;
    font-family: Habbo;
    font-weight: 400;
}

h3 {
    font-size: 30px;
    text-align: center;
    font-family: Habbo;
    font-weight: 400;
}

hr {
    background-color: #254252;
    border: none;
    height: 2px;
    width: 100%;

}

/*-----fonts-----*/
@font-face {
    font-family: Roboto;
    src: url(../fonts/Habbo.ttf);
}

/*-----navbar-----*/
.navbar {
    display: flex;
    width: 100%;
    height: 80px;
    background-color: #254252;
    align-items: center;
    justify-content: center;
}

.navbar > a{
    font-family: Habbo;
    font-size: 30px;
    color: #f9982f;
    text-decoration: none;
    border-style: solid;
    padding: 10px 20px;
    margin: 10px;
}

.navbar > a:hover {
    color: #eab56f;
}