/*-----generic selectors-----*/
:root {
    --background-color: #151b2a;
    --accent-color-1: #ef922d;
    --accent-color-1--hover: #eab56f;
    --accent-color-2: #254252;
    --text-width: 950px;
    --habbo-font-weight: 400;
}

html {
    background-color: var(--background-color);
    color: var(--accent-color-1);
}

body {
    font-family: Tahoma, sans-serif;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    font-family: Habbo;
    text-align: center;
    font-size: 70px;
    font-weight: var(--habbo-font-weight);
    margin: 20px auto;
}

h2 {
    font-family: Habbo;
    text-align: center;
    font-size: 40px;
    font-weight: var(--habbo-font-weight);
    margin: 20px auto;
}

h3 {
    font-family: Habbo;
    text-align: center;
    font-size: 60px;
    font-weight: var(--habbo-font-weight);
    margin: 20px auto;
}

p {
    font-size: 20px;
    max-width: var(--text-width);
    line-height: 28px;
}

hr {
    background-color: var(--accent-color-2);
    border: none;
    height: 2px;
    width: 90%;
}

a {
    font-family: Habbo;
    font-size: 30px;
    color: var(--accent-color-1);
    margin: 5px;
}

ul {
    width: var(--text-width);
}

li {
    font-size: 20px;
    text-align: left;
    padding: 8px;
}

figure {
    text-align: center;
}

figcaption {
    margin: 10px;
    font-style: italic;
}

footer {
    text-align: center;
}

/*-----fonts-----*/
@font-face {
    font-family: Habbo;
    src: url(../fonts/Habbo.ttf);
}

/*-----navbar-----*/
.navbar {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 60px;
    margin: 20px auto;
}

.navbar a{
    font-family: Habbo;
    font-size: 35px;
    color: var(--accent-color-1);
    text-decoration: none;
    border-style: solid;
    padding: 5px 25px;
    margin: 10px;
}

.navbar a:hover {
    color: var(--accent-color-1--hover);
}


/*-----id selectors-----*/
#meeting-steve {
    width: 35vw;
}

#validators a {
    text-decoration: none;
}

#design-name {
    text-decoration: none;
}

.footer-section {
    margin: 30px;
}