:root {
    --background-color: #151b2a;
    --accent-color-1: #ef922d;
    --accent-color-2: #ead16f;
    --accent-color-3: #ffbb00;
    --hover-color-1: #ffcc96;
    --hover-color-2: #fcefba;
    --form-text-color: #e2e2c9;
    --row-headings: #171718;
    --row-color-1: #1f283b;
    --row-color-2: #181b25;
    --text-width: 950px;
    --text-size: 1.2rem;
    --habbo-font-weight: 400;
}

/*-----mobile device media query-----*/
@media screen and ( min-width: 370px ) and ( max-width: 600px ) {
    :root {
        font-size: 12;
    }

    main {
        width: 95%;
        margin: 0 auto;
        max-width: 1200px;
    }

    header {
        font-size: 0.5rem;
    }

    footer nav a {
        text-decoration: underline;
    }

    input {
        width: 70%;
    }
}

/*-----tablet media query-----*/
@media screen and ( min-width: 601px ) and ( max-width: 980px )  {
    :root {
        font-size: 12;
    }

    main {
        width: 95%;
        margin: 0 auto;
        max-width: 1200px;
    }

    footer nav a{
        text-decoration: underline;
    }
}

/*-----laptop/small screen media query-----*/
@media screen and ( min-width: 981px ) and ( max-width: 1400px ) {
    :root {
        font-size: 12;
    }

    main {
        width: 95%;
        margin: 0 auto;
        max-width: 1200px;
    }
}

/*-----generic selectors-----*/
body {
    background-color: var(--background-color);
    color: var(--accent-color-1);
    font-family: Tahoma, sans-serif;
}

main {
    width: 90%;
    margin: 0 auto;
    max-width: 1200px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    font-family: Habbo;
    text-align: center;
    font-size: 4rem;
    font-weight: var(--habbo-font-weight);
    margin: auto auto;
    color: var(--accent-color-3);
}

h2 {
    font-family: Habbo;
    text-align: center;
    font-size: 4.2rem;
    font-weight: var(--habbo-font-weight);
    margin: 10px auto;
    color: var(--accent-color-3);
}

h3 {  
    font-family: Habbo;
    text-align: center;
    font-size: 2.5rem;
    font-weight: var(--habbo-font-weight);
    margin: 10px auto;
    color: var(--accent-color-3);
}

p {
    font-size: var(--text-size);
    max-width: var(--text-width);
    line-height: 28px;
}

a {
    color: var(--accent-color-3);
    margin: 5px;
}

hr {
    background-color: var(--accent-color-2);
    border: none;
    height: 2px;
    width: 90%;
}

ul {
    font-size: var(--text-size);
    max-width: var(--text-width);
}

ol {
    font-size: var(--text-size);
    max-width: var(--text-width);
}

li {
    max-width: var(--text-width);
    text-align: left;
    padding: 8px;
    line-height: 28px;
}

figure {
    text-align: center;
}

figcaption {
    margin: 10px;
    font-style: italic;
}

label {
    font-size: 1.2rem;
    text-align: right;
}

button {
    font-size: 1.01rem;
}

footer {
    text-align: center;
}

table, tr, th, td {
    border: 1px solid var(--accent-color-2);
    border-collapse: collapse;
    padding: 5px;
}

input {
    margin: 15px;
    border: 1px solid var(--accent-color-1);
    background-color: transparent;
    color: var(--form-text-color);
    padding: 6px;
}

form {
    max-width: 50%;
}

#form-button, #courses-text-button {
    background-color: var(--accent-color-2);
    color: var(--background-color);
    border-style: none;
}

#form-button:hover, #courses-text-button:hover {
    background-color: var(--hover-color-2);
}

p a {
    font-family: Tahoma, sans-serif;
    color: var(--accent-color-1);
    font-size: var(--text-size);
}

p a:hover {
    color: var(--hover-color-1);
}

/*-----nav-----*/
nav {
    display: flex;
    flex-flow: row wrap;
    overflow: hidden;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: auto;
    margin: 20px auto;
}

header nav a{
    font-family: Habbo;
    font-size: 2rem;
    color: var(--accent-color-2);
    text-decoration: none;
    border-style: solid;
    padding: 6px 25px;
    margin: 5px 10px;
    padding-bottom: 10px;
}

header nav a:hover {
    color: var(--hover-color-2);   
}

/*-----footer-----*/
footer a {
    font-family: Habbo;
    color: var(--accent-color-2);
    font-size: 1.8rem;
    margin: 5px;
    text-decoration: none;
}

footer nav a:hover {
    text-decoration: underline;
}

footer img{
    margin: 15px 5px;
}

/*-----table-----*/
.table-row:first-child{
    background-color: var(--row-headings);
}

.table-row:nth-of-type(even):not(:first-child) {
    background-color: var(--row-color-1);
}

.table-row:nth-of-type(odd):not(:first-child) {
    background-color: var(--row-color-2);
}

/*-----fonts-----*/
@font-face {
    font-family: Habbo;
    src: url(../styles/fonts/Habbo.ttf);
}

/*-----id selectors-----*/
#meeting-steve {
    width: 75%;
    height: auto;
}

#wireframe {
    width: 85%;
    height: auto;
}

#sitemap {
    width: 85%;
    height: auto;
}