body {
    background-color: #769e27;
    color: #eaffb9;
    font-family: Tahoma;
}
header, main, footer {
    width: 95%;
    max-width: 1200px;
    margin: 0 auto;
}
h1, h2, p, nav {
    text-align: center;
}
hr {
    background-color: #fff44f;
    border: none;
    height: 2px;
    width: auto;
}
a {
    color: #8b0000;
}