body {
    background-color: #0F0326;
    color: #F5F7DC;
    font-family: Tahoma;
}
header, main, footer {
    width: 95%;
    max-width: 1200px;
    margin: 0 auto;
}
h1, h2, p, nav {
    text-align: center;
}
hr {
    background-color: #E65F5C;
    border: none;
    height: 2px;
    width: auto;
}
a {
    color: #E65F5C;
}