body {
    background-color: #434A42;
    color: #E1CA96;
    font-family: Tahoma;
}
header, main, footer {
    width: 95%;
    max-width: 1200px;
    margin: 0 auto;
}
h1, h2, p, nav {
    text-align: center;
}
hr {
    background-color: #918B76;
    border: none;
    height: 2px;
    width: auto;
}
a {
    color: #918B76;
}