<footer>
    <nav class="footer-section">
        <a class="link" href="https://webpages.charlotte.edu/lelbel/" target="_blank">CLT Web</a>
        <a class="link" href="https://github.com/lelbel/lelbel.github.io" target="_blank">GitHub</a>
        <a class="link" href="https://lelbel.github.io" target="_blank">GitHub.io</a>
        <a class="link" href="https://lelbel/ITIS3135.github.io" target="_blank">ITIS3135.io</a>
        <a class="link" href="https://www.freecodecamp.org/lelbel" target="_blank">freeCodeCamp</a>
        <a class="link" href="https://www.codecademy.com/profiles/lelbel" target="_blank">Codecademy</a>
        <a class="link" href="https://www.linkedin.com/in/lily-elbel/" target="_blank">LinkedIn</a>
    </nav>

    <a class="footer-section" id="design-name" href="elbeldesigns.com/">Elbel Designs &#169;2024</a>

    <section class="footer-section" id="validators">
        <a id = "validation-link-html" href="https://validator.w3.org/check?uri=referer">
            <img src="images/button_validation_html5.png" width="88" height="31" alt="Validate webpage HTML.">
        </a>
        
        <a id = "validation-link-css" href="https://jigsaw.w3.org/css-validator/check/referer">
            <img src="images/button_validation_css.png" width="88" height="31" alt="Validate webpage CSS.">
        </a>

        <script>
            document.getElementById("validation-link-html").setAttribute("href", "https://validator.w3.org/check?uri=" + location.href);
            document.getElementById("validation-link-css").setAttribute("href", "https://jigsaw.w3.org/css-validator/validator?uri=" + location.href);
        </script>
    </section>
</footer>