<header>   
    <h1>Lily Elbel's Liquid Eel ~ ITIS 3135 ~</h1>

    <nav>
        <a href="./">Home</a>
        <a href="introduction.html">Introduction</a>
        <a href="contract.html">Contract</a>
        <a href="about.html">About</a>
        <a href="websiteEvaluations.html">Evaluations</a>
        <a href="tables.html">Tables</a>
        <a href="forms.html">Forms</a>
        <a href="firstScripts.html">First Scripts</a>
        <a href="projectOverview.html">Project Overview</a>
        <a href="byoIntro.html">BYO Intro</a>
    </nav>

    <nav>
        <a href="stuff/even more folder/INDEX HTML $$.htm" target="_blank">Crappy</a>
        <a href="hobby/index.html" target="_blank">Hobby</a>
    </nav>
    
</header>