<header>   
    <h1 class="title">Liquid Eel</h1>

    <nav class="navbar">
        <a href="./">Home</a>
        <a href="introduction.html">Introduction</a>
        <a href="contract.html">Contract</a>
        <a href="about.html">About</a>
        <a href="website_evaluations.html">Evaluations</a>
        <a href="tables.html">Tables</a>
        <a href="forms.html">Forms</a>
    </nav>

    <nav class="navbar">
        <a href="stuff/even more folder/INDEX HTML $$.htm">Crappy</a>
    </nav>
</header> 