/*-----element selectors-----*/
:root {
    --background-color: #171516;
    --accent-color: #9e3450;
    --text-color: #f3e7e7;
    --alt-accent-color: #db6c8c;
}

* {
    margin: 0;
}

html {
    background-color: var(--background-color);
    color: var(--text-color);
}

body {
    font-family: Roboto;
    text-align: left;
}

main {
    margin: 0vh 12vw;
    font-family: Roboto-Light;
    margin-top: 118px;
}

h1 {
    font-family: Roboto-Light;
    font-size: 75px;
    font-weight: 300;
    margin-bottom: 50px;
}

h2 {
    text-align: left;
    font-size: 22px;
    font-weight: 500;
    margin: 20px;
}

h3 {
    font-size: 50px;
    font-weight: 500;
    margin: 50px 0px;
}

h4 {
    font-size: 35px;
    text-align: left;
    margin-bottom: 20px;
}

a {
    color: var(--accent-color); /*accent color*/
}

p {
    font-size: 20px;
    line-height: 32px;
}

hr {
    background-color: var(--accent-color);
    border: none;
    height: 2px;
    width: 100%;
}

nav {
    text-align: center;
}


/*-----introduction section selector-----*/
#introduction {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    font-family: Roboto;
    padding: 90px;
    background-color: #382f32;
}

#introduction-text {
    max-width: 1000px;
    max-height: 500px;
    min-width: 500px;
    text-align: center;
}

/*-----nav menu selectors-----*/
#top-menu {
    position: fixed;
    overflow: hidden;
    top: 0;
    width: 100%;
    height: 70px;
    z-index: 2;
    font-family: Roboto;
    background-color: var(--accent-color);
}

#bottom-menu {
    margin: 40px;
    color: var(--accent-color);
}

.menu-button {
    font-size: 17px;
    text-align: center;
    border-style: solid;
    text-decoration: none;
    margin: 12px 10px;
    padding: 10px 20px;
    color: var(--text-color);
    background-color: var(--accent-color);
}

.menu-button:hover {
    color: var(--alt-accent-color)
}

#resume-button {
    float: left;
    margin-right: 12vw;
}

#projects-button {
    float: right;
}

#home-button {
    float: left;
    margin-left: 12vw;
}


/*-----portfolio section selectors-----*/
.column {
    display: flex;
    flex-direction: column;
    
}

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.box-top {
    flex: 0 0 45%;
    max-width: 560;
    max-height: 340;
    min-width: 560;
    min-height: 340;
    margin-top: 70px;
    margin-bottom: 20px;
}

.box-bottom {
    width: 100%;
    margin-top: 20px;
    margin-bottom: 70px;
}

.page-button {
    font-size: 30px;
    border: none;
    text-decoration: underline;
    color: var(--text-color);
    background-color: transparent;
}

.page-button:hover {
    color: var(--accent-color);
}

.page-button, #download {
    font-family: Roboto-light;
    margin-top: 30px;
    margin-bottom: 40px;
    text-align: center;
}

/*-----resume selector-----*/

#resume {
    display: block;
    height: 99%;
    width: 99%;
    margin-left: auto;
    margin-right: auto;
}

/*-----fonts-----*/
@font-face {
    font-family: Roboto;
    src: url(../fonts/Roboto-Regular.ttf);
}

@font-face {
    font-family: Roboto-Light;
    src: url(../fonts/Roboto-Light.ttf);
}

@font-face {
    font-family: Roboto-Bold;
    src: url(../fonts/Roboto-Bold.ttf);
}

/*-----(old + unused) introduction section selector-----*/
#intro {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    font-family: Roboto;
    height: 400px; /*replace with fixed image height*/
    background-color: #382f32; /*placeholder color*/
    z-index: 1;
    margin-top: 65px; /*height of the nav box (keeps from overlapping)*/
}

#intro-text {
    max-width: 900px;
    max-height: 500px;
    min-width: 500px;
    text-align: center;
}