/*-----generic selectors-----*/
* {
    margin: 0;
}
html {
    background-color: #171516; /*background color*/
    color: #f3e7e7; /*text color*/
}

body {
    text-align: left;
    font-family: Roboto-Light;
}

h1 {
    text-align: center;
    font-size: 50px;
    font-weight: 550;
    margin-top: 25px;
}

h2 {
    font-size: 22px;
    font-weight: 500;
    margin-top: 20px;
}

a {
    color: #9e3450; /*accent color*/
}

hr {
    background-color: #9e3450; /*accent color*/
    border: none;
    height: 2px;
    width: 100%;
}

footer nav {
    text-align: center;
}

/*-----fonts-----*/
@font-face {
    font-family: Roboto;
    src: url(../fonts/Roboto-Regular.ttf);
}

@font-face {
    font-family: Roboto-Light;
    src: url(../fonts/Roboto-Light.ttf);
}

@font-face {
    font-family: Roboto-Bold;
    src: url(../fonts/Roboto-Bold.ttf);
}

/*-----navigation bar-----*/
.navbar {
    overflow: hidden;
    position: fixed;
    background-color: #9e3450; /*accent color*/
    top: 0;
    width: 100%;
    height: 65px;
    z-index: 2;
    font-family: Roboto;
}

.navbar a{
    text-align: center;
    border-style: solid;
    color: #f3e7e7; /*text color*/
    text-decoration: none;
    margin: 11px 10px;
    padding: 10px 20px;
}

.navbar a:hover {
    color: #db6c8c; /*alt accent color*/

}

.resume-button, .projects {
    float: right;
}

.resume-button {
    margin-left: 20px;
    margin-right: 70px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.projects-button {
    float: right;
}

.home-button {
    float: left;
}

/*-----introduction section selectors-----*/
.intro {
    position: relative;
    width: 100%;
    height: 400px; /*replace with fixed image height*/
    background-color: #382f32; /*placeholder color*/
    color: #f3e7e7; /*placeholder color*/
    z-index: 1;
    font-family: Roboto;
    margin-top: 65px; /*height of the nav box (keeps from overlapping)*/
}

.intro > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.overlay-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -60%);
    min-width: 400px;
    max-width: 900px; /*controls how much text will take up space in square when window is resized*/
}

/*-----portfolio section selectors-----*/
.projects-title {
    margin: 40px 12vw;
    text-align: left;
}

.column {
    display: flex;
    flex-direction: column;
    margin: 0vh 12vw;
}

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.box-top {
    flex: 0 0 45%;
    max-width: 560;
    max-height: 340;
    min-width: 560;
    min-height: 340;
    margin-top: 70px;
    margin-bottom: 20px;
}

.box-bottom {
    width: 100%;
    margin-top: 20px;
    margin-bottom: 70px;
}

.box-top > h1 {
    font-size: 35px;
    text-align: left;
    margin-top: 20px;
    margin-bottom: 20px;
}

.box-top > h2 {
    font-size: 35px;
    text-align: left;
    margin-top: 20px;
    margin-bottom: 20px;
}

/*-----resume selectors-----*/
.resume-display {
    margin-top: 65px; /*height of the nav box (keeps from overlapping)*/
}

.resume-document {
    width: 100vw;
    height: 100vh;
}