/*-----element selectors-----*/
* {
    margin: 0;
}

html {
    background-color: #171516; /*background color*/
    color: #f3e7e7; /*text color*/
}

body {
    font-family: Roboto;
    text-align: left;
}

main {
    margin: 0vh 12vw;
    font-family: Roboto-Light;
}

h1 {
    font-size: 50px;
    font-weight: 550;
}

h2 {
    text-align: left;
    font-size: 22px;
    font-weight: 500;
    margin: 20px;
}

h3 {
    font-size: 50px;
    font-weight: 500;
    margin: 50px 0px;
}

h4 {
    font-size: 35px;
    text-align: left;
    margin-top: 20px;
    margin-bottom: 20px;
}

a {
    color: #9e3450; /*accent color*/
}

hr {
    background-color: #9e3450; /*accent color*/
    border: none;
    height: 2px;
    width: 100%;
}

nav {
    text-align: center;
}


/*-----introduction section selector-----*/
#intro {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    font-family: Roboto;
    height: 400px; /*replace with fixed image height*/
    background-color: #382f32; /*placeholder color*/
    z-index: 1;
    margin-top: 65px; /*height of the nav box (keeps from overlapping)*/
}

#intro-text {
    max-width: 900px;
    max-height: 500px;
    min-width: 500px;
    text-align: center;
}

/*-----nav menu selectors-----*/
#top-menu {
    position: fixed;
    overflow: hidden;
    top: 0;
    width: 100%;
    height: 65px;
    z-index: 2;
    font-family: Roboto;
    background-color: #9e3450; /*accent color*/
}

#bottom-menu {
    margin: 40px;
    color: #9e3450; /*accent color*/
}

.menu-button {
    text-align: center;
    border-style: solid;
    text-decoration: none;
    margin: 11px 10px;
    padding: 10px 20px;
    color: #f3e7e7; /*text color*/
    background-color: #9e3450; /*accent color*/
}

.menu-button:hover {
    color: #db6c8c; /*alt accent color*/
}

#resume-button, #projects-button {
    float: right;
}

#home-button {
    float: left;
}


/*-----portfolio section selectors-----*/
.column {
    display: flex;
    flex-direction: column;
    
}

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.box-top {
    flex: 0 0 45%;
    max-width: 560;
    max-height: 340;
    min-width: 560;
    min-height: 340;
    margin-top: 70px;
    margin-bottom: 20px;
}

.box-bottom {
    width: 100%;
    margin-top: 20px;
    margin-bottom: 70px;
}


/*-----fonts-----*/
@font-face {
    font-family: Roboto;
    src: url(../fonts/Roboto-Regular.ttf);
}

@font-face {
    font-family: Roboto-Light;
    src: url(../fonts/Roboto-Light.ttf);
}

@font-face {
    font-family: Roboto-Bold;
    src: url(../fonts/Roboto-Bold.ttf);
}